@import '../../scss/index.scss';

.techs {
    background-image: url('../../assets/imgs/backgrounds/projects_v1.jpg');
    // height: 95.4vh;
    &_title{
        width: 500px;
        margin: 20px;
    }
    &_techs{
        &_text{
            width: 500px;
        }
    }
}