@import '../../scss/index.scss';

.projects {
    background-image: url('../../assets/imgs/backgrounds/electronic2.jpg');
    // height: 10vh;
    &_title{
        width: 500px;
        margin: 20px;
    }
    &_repos{
        margin: 20px;
        width: 80%;
        height: 500px;
    }
}