@import '../../scss/index.scss';

.skills {
    min-height: 95.4vh;

    background-image: url('../../assets/imgs/backgrounds/hello.jpg');
    background-size: cover;
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    &_container{
        height: 90vh;
        &_image {
            img {
                width: 300px;
                margin: 30px 0 0 30px;
                color: $default_light;
            }
        }
        &_title{
            width: auto;
            padding: 27px;
            margin: 10px;
            border: 7px solid $banner_border_light_color;
            background-color: rgba(20, 18, 18, 0.4);
          
            color: var(--color-text);
            font-size: 45px;
        }




        // &_presentation{
        //     background-color: $banner_color;
        //     opacity: 0.8 !important;
        //     width: 700px;
        //     height: 600px;
        //     border-radius: 10%;
        // }
        // &_image {
        //    img {
        //     width: 400px;
        //     color: $default_light;
        //    }
        // }
        // .animation {
        //     animation: updown 3s linear infinite;
        // }
    }
    .animation {
        animation: updown 3s linear infinite;
    }
    
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}