@import '../../scss/index.scss';

.aboutMe {
    background-image: url('../../assets/imgs/backgrounds/about.jpg');
    height: 100vh;
    &_container{
        height: 100%;
        &_box{
            width: 700px;
            height: auto;
        }

        &_skills{
            height: 80px;
        }
    }
    
}