@import '../../scss/index.scss';

.aboutMe {
    height: 100%;
    background-image: url('../../assets/imgs/backgrounds/about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}